@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre+Baskerville, sans-serif;
    font-weight: 400;
    color: #413535;
}

ul {
    list-style-type: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}

li>a {
    border: 2px solid #413535;
    border-radius: 50%;
    width: 10rem;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 15px 4px 2px 4px;
    border-radius: 16px;
    float: right;


}

nav {
    border-bottom: 2px solid #413535;
    height: 100px;
    padding-top: 36px;
    font-family: Libre+Baskerville, sans-serif;
    background-color: rgb(148, 186, 171);
    clear: both;
}

img {
    border: 2px solid #413535;
    max-width: 60%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: auto;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 100px;

}



#title {
    float: left;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #413535;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 20px;
    background-color: rgb(148, 186, 171);
    width: 100%;
}

#choices {
    font-size: 110%;
    letter-spacing: 2px;
}

#choices a:hover {
    background-color: rgb(65, 82, 75);
    color: antiquewhite;
}

.active {
    background-color: rgb(65, 82, 75);
    color: antiquewhite;
}



/* presentation image */

#presentation-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#presentation-image {
    height: 200px;
    width: 100%;
    background: url('../images/Presentation.jpg') no-repeat center center;

    /* animates*/
    animation-name: presentation-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/*Zoom for presentation-image*/

@keyframes presentation-zoom {
    from {
        transfrom: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/*cover text*/

#presentation-text-right {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: blanchedalmond;
    text-align: left;

    width: 240px;
    height: 120px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(3, 44, 27, 0.4);

    top: 150px;
    right: 150px;

    position: absolute;
}

#presentation-text-left {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: blanchedalmond;
    text-align: right;

    width: 240px;
    height: 120px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(3, 44, 27, 0.4);

    top: 150px;
    left: 150px;

    position: absolute;
}

/*footer*/
footer {
    height: 50px;
    text-align: center;
    color: rgb(185, 173, 173);
    background-color: rgb(57, 40, 40);
    bottom: 0;
    right: 0;
    padding: 1em;
    width: 100%;
    position: fixed;
    z-index: 3;



}

/*form*/
#form-styling {
    border: 2px solid #413535;

    background-color: rgba(60, 60, 60, 0.2);
    height: 380px;
    max-width: 400px;
    left: 10%;
    margin: 0 auto;
    padding: 15px 32px 15px 32px;
    margin-bottom: 100px;


    text-align: center;
    display: block;


}

br {
    padding-bottom: 30px;
    padding-top: 30px;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 7.5px 16px 7.5px 16px;
    text-align: center;
    font-size: 100%;
    background-color: #413535;
    color: antiquewhite;
    display: inline-block;
    border: 2px solid #413535;
}

.btn:hover {
    background-color: antiquewhite;
    color: #413535;
}


@media screen and (max-width:1064px) {
    #presentation-text-right {
        width: 60%;
        margin-bottom: 100px;
        top: 240px;
        height: 60px;
        vertical-align: center;
        font-size: 60%;
        background-color: rgb(3, 44, 27, 0.4);

    }

    #presentation-text-left {
        width: 60%;
        margin: 0 auto;
        top: 170px;
        height: 60px;
        vertical-align: center;
        font-size: 60%;
        background-color: rgb(3, 44, 27, 0.4);

    }
}