@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre+Baskerville, sans-serif;
    font-weight: 400;
    color: #413535;
}

ul {
    list-style-type: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}

li>a {
    border: 2px solid #413535;
    border-radius: 50%;
    width: 10rem;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 15px 4px 2px 4px;
    border-radius: 16px;
    float: right;
}

nav {
    border-bottom: 2px solid #413535;
    height: 100px;
    padding-top: 36px;
    font-family: Libre+Baskerville, sans-serif;
    background-color: rgb(148, 186, 171)
}

img {
    border: 2px solid #413535;
    max-width: 60%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

h2 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 100px;

}



#title {
    float: left;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #413535;
    padding-top: 14px;
    margin-left: 20px;

}

#choices {
    font-size: 110%;
    letter-spacing: 2px;
}

#choices a:hover {
    background-color: rgb(65, 82, 75);
    color: antiquewhite;
}

.active {
    background-color: rgb(65, 82, 75);
    color: antiquewhite
}



/* presentation image */

#presentation-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#presentation-image {
    height: 400px;
    width: 100%;
    background: url('../images/Presentation.jpg') no-repeat center center;

    /* animates*/
    animation-name: presentation-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/*Zoom for presentation-image*/

@keyframes presentation-zoom {
    from {
        transfrom: scale(1);
        border-radius: 50%;
    }

    to {
        transform: scale(1.2);
        border-radius: 50%;

    }
}

/*cover text*/

#presentation-text-right {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: blanchedalmond;
    text-align: left;

    width: 240px;
    height: 120px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(3, 44, 27);

    bottom: 310px;
    right: 150px;

    position: absolute;
}

#presentation-text-left {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: blanchedalmond;
    text-align: right;

    width: 240px;
    height: 120px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(3, 44, 27);

    bottom: 310px;
    left: 150px;

    position: absolute;
}

/*footer*/
footer {
    height: 50px;
    text-align: center;
    color: rgb(185, 173, 173);
    background-color: rgb(57, 40, 40);
    margin: 0 auto;
    padding-top: 25px;

}

/*form*/
#form-styling {
    border: 2px solid #413535;

    background-color: rgba(60, 60, 60, 0.2);
    height: 350px;
    max-width: 400px;
    left: 10%;
    margin: 0 auto;
    padding: 15px 32px 15px 32px;


    text-align: center;
    display: block;


}

br {
    padding-bottom: 30px;
}